# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =================================================
1. apply star at the time of review 
2. add popups by adnt
3. style payment page 
4. login form add and setinfo to slice in the form of array object change the star color according to rating 
5. apply underline on link afte hover
6. while giving rating show emoji according to Star