.reviews {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    padding: 2rem;
    /* background-color: rgb(91, 90, 90); */
    height: fit-content;
    align-items: center;
}

@media (max-width:840px) {
    .reviews {
        grid-template-columns: auto;
    }
}

.my-review {
    display: grid;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;

}



/* ========================================== */
.all-review {
    /* background-color: rgb(223, 255, 185) ; */
    border: 1px solid black;
    border-radius: 20px;
    display: grid;
    gap: 0.3rem;
    max-height: 30rem;
    overflow: scroll;
    scrollbar-width: thin;
    overflow-x: hidden;
    padding: 2rem;
}

.all-review-heading {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    font-size: 1.2rem;
}

.review-container {
    display: grid;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
}

.r1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .star {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    background-color: #2a2a2a;
    color: white;
    border-radius: 10px;
    padding: 0.3rem 0.8rem;

}

.all-review-heading .star {
    color: white;
    border-radius: 10px;
    padding: 0.3rem 0.8rem;
}

.avrageStar .star {
    background-color: rgb(254, 254, 254);
    color: black;
}
.like {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 1200px) {
    .reviews {
        grid-template-columns: 1fr 2fr;
    }
}

.star-emoji-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
}

.star5{
}
.coloredStar{
    transition: all 0.2s ease;
    color: gold; 
}
.notColored{
    color:rgb(157, 157, 157);
}

.emojis{
    height: 100px;
}
.emojis img{
    height: 100%;
}