/*  NAV BAr */
.logo {
  padding: 0.5rem 0px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.logo img {
  height: 4rem;
}

@media (max-width:600px) {

  .logo img {
    height: 11vw;
  }
}

.my-nav {
  background: linear-gradient(circle, rgb(0, 0, 0), rgb(27, 27, 27), #000000);
  position: sticky;
  top: 0px;
  z-index: 3;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 2px 5px 1px rgba(131, 130, 130, 0.4);
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.my-nav a {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-item {
  margin: 0;
  gap: 1.4rem;
  display: flex;
  align-items: center;
}

.nav-item div {
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: none;
}

.my-nav .left a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background: black;
  transition: all 0.2s ease;
}

.my-nav .left a:hover::after {
  width: 90%;
  left: 5%;
}



.my-nav .right a:hover {
  scale: 1.05;
  color: rgb(33, 4, 100);
  transition: all 0.2s ease;
  font-weight: 900;
}


@media (max-width:840px) {
  .my-nav {
    /* display: none; */
  }

}